<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head >
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>That is all we've got!</title>
</head>

<body>

<p><a href="/note/creationPage">Add a new note</a></p>>

<table>
    <thead>
    <tr>
        <th>Lines</th>>
    </tr>
    </thead>
    <tbody>
    <tr th:each="line : ${linesList}">
        <td th:text="${list.id}"></td>
    </tr>
</table>
</body>

</html>