<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Note obj</title>
</head>

<body>

<table>
    <thead>
    <tr>
        <th>id</th>
        <th>Name</th>
        <th>Description</th>>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${note.id}"></td>
        <td th:text="${note.title}"></td>
        <td th:text="${note.description}"></td>
    </tr>
</table>

<p><a href="/note/getAllTest">Return to list of all notes</a></p>
</body>

</html>